.contact{
  margin: 5%;
}
main h1{
  text-decoration: underline;
}

.grid-container {
  display:block;
  grid-template-columns:repeat(auto-fill, minmax(500px, 1fr));
  background-color: #a7a7a7;
  padding: 5%;
}
.address{
  padding:0% 5% 5% 5%;
}
.icon{
  margin-top: 5%;
}

.grid-containertwo{
  display:grid;
  grid-template-columns:repeat(auto-fill, minmax(500px, 1fr));
  background-color: #a7a7a7;
}
.form{
  line-height: 3em;
}

form button{
  color: white;
  background-color: black;
}

